<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpq9eKpwmUxz0L1DjU_lIbe4Kd06DCHTU</string>
	<key>GCM_SENDER_ID</key>
	<string>678039118503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neshwa.Chit-Chat</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-96d12</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-96d12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678039118503:ios:46c290d199cd0edc173182</string>
</dict>
</plist>